/* ==========================================================
! 1. SECTION: HOME
========================================================== */
#page {
    width: 100%;
    height: 100%;
    position: absolute;
    background: $gradient;
    .row{
        .col{
            height: 100vh;
        }
    }
}

@font-face {
    font-family: "last_paradise";
    src: url("../fonts/last_paradise-webfont.ttf");
}

.home-page {
    .container{
        .text-zone {
            position: absolute;
            left: 12%;
            top: 50%;
            transform: translateY(-50%);
            max-height: 90%;
            a {
                font-weight: normal
            }
        }
    }
    h1 {
        color: #fff;
        font-size: 56px;
        line-height: 65px;
        margin: 0;
        font-family: "last_paradise";
        font-weight: normal;
        padding-left: 5px;
        &:before {
            content: '<h1>';
            font-family: $font-etiqueta;
            color: $color-etiqueta;
            font-size: 18px;
            position: absolute;
            margin-top: -45px
        }
        &:after {
            content: '<h1/>';
            font-family: $font-etiqueta;
            color: $color-etiqueta;
            font-size: 18px;
            position: absolute;
            margin-top: 18px;
            margin-left: 20px;
            animation: myanim2 1s 1.7s backwards
        }

        img {
            position: relative;
            top: -5px;
            opacity: 0;
            width: 32px;
            height: auto
        }
    }
    h2 {
        color: #8d8d8d;
        margin-top: 9px;
        font-weight: normal;
        font-size: 14px;
        font-family: "terminus";
        letter-spacing: 2px;
        animation: myanim2 1s 1.8s backwards
    }
}

@keyframes myanim2 {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

img {
    vertical-align: middle;
    border-style: none;
}

.home-page .blast {
    opacity: 0;
    display: inline-block;
    transition: all .3s ease-out
}

.home-page .blast:hover {
    color: $colorPrincipal
}

.blast {
    display: inline-block
}

.text-page h1 .blast {
    opacity: 0;
    transition: all .3s ease-out
}

.tags {
    color: $color-etiqueta;;
    position: absolute;
    bottom: 0;
    left: 55px;
    font-size: 18px;
    font-family: $font-etiqueta;
}

.top-tags {
    bottom: auto;
    top: 0
}

.bottom-tags {
    position: absolute;
    clear: both;
    float: left;
    margin-top: 22px;
    bottom: 0
}

/* machine Effect */

.home-page .text-zone h1{
    overflow: hidden;
    /* Se asegura de que el efecto no será revelado antes de aplicarse el efecto */
    border-right: 5px solid #02192000;
    /* Cursor parpadeante */
    white-space: nowrap;
    /* Mantiene el contenido en una sola línea */
    margin: 0 auto;
    /* Scroll effect */
    letter-spacing: 2px;
    /* Espaciado letras */
    animation: typing 1.5s steps(20, end), blink-caret .75s step-end none;
}


/* Efecto de escribir */

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}

/* Cursor effect */

@keyframes blink-caret {
    from,
    to {
        border-color: transparent
    }
    40% {
        border-color: #02192000;
    }
}

.photohome{
    display: flex;
    /*     justify-content: flex-end; */
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: $gradient_image, url($imgPortada);
    /*     background: linear-gradient(to right, rgba(9, 22, 36, 1) 0%, rgba(10, 31, 46, 0.933) 31%, rgba(0, 53, 59, 0.855) 61%, rgba(34, 87, 87, 0.704) 100%) */
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    // transform: scaleX(-1);
    // filter: FlipH;
    flex-direction: column;
}