
body {
    // overflow: hidden !important;
    #nav_bar{
        nav {
            a i {
                font-size: .8em;
            }
        }
        .socials{
            background: #0e0e0e;
            padding-top: 15px;
            padding-bottom: 15px;
            bottom: 0;
            li{
                padding: 3px 16px;
                a{
                    color: white ;
                }
            }
        }
    }

    footer {
        height: 50px;
        padding: 60px 0;
        background: #2b2b2b;
        border-top: 1px solid #f2fffd;
        color: #cacaca;
        letter-spacing: 0.1em;
        font-size: 1.1em;
        a {
            color: #09bea0;
        }
        ul{
            list-style: none;
        }
    }
    .background-principal {
        background: $colorPrincipal;
    }

    .badge-principal{
        background: $colorPrincipal;
        font-size: 1.3em;
        margin-right: 10px;
        margin-bottom: 5px;
        padding: 5px 10px;
        color: white;
    }

    .vertical-page{
        // overflow: scroll;
        // height: 100vh;
        background: #0e0e0e;
        // position: relative;
        .section{
            margin-left: 64px;
            background: $colorPrincipal;
        }

        $lightPrincipal: lighten( $colorPrincipal, 10% );
        .gradient-divisor{
            height: 40px;
            background: linear-gradient(180deg, rgb(255, 255, 255) 0%, $lightPrincipal 50%, $colorPrincipal 100%);
        }

        .container-page{
            padding: 5%;

            section{
                margin-bottom: 50px;
            }

            .list-type-1{
                font-size: 1.5em;
                font-family: terminus;
                letter-spacing: .5px;
                > .row{
                    margin-left: 80px;
                    .row{
                        margin-bottom: 30px;
                    }
                }
                img{
                    width: 100%;
                }
            }

            .spacing-left-top{
                // margin-left: 100px
                padding-top: 10px;
            }

            .list-type-2{
                font-size: 1.5em;
                font-family: terminus;
                letter-spacing: .5px;
                .list-item{
                    // padding: 20px;
                    // border: 1px solid #bdbdbd;
                    // border-radius: 1em;
                    padding: 20px;
                    border: 1px solid #f3f3f3;
                    border-radius: 1em;
                    margin: 10px 0px 10px 100px;
                    * {
                        margin: 0;
                        padding: 0;
                        line-height: initial;
                        color: #666666;
                    }
                    .title{
                        color: #5f5f5f;
                        text-transform: uppercase;
                        font-size: 1.1em;
                        line-height: initial;
                    }
                    .location{

                    }
                }
                .list-badges{
                    .badge{
                        padding: 3px 5px;
                        font-size: 0.8em;
                        color: white;
                        font-weight: normal;
                        margin-right: 5px;
                        margin-bottom: 5px;
                    }
                }
            }

            section {
                border: 1px solid rgba(192, 192, 192, 0.16);
                border-style: none none none solid;
            }

            .content-divisor{
                margin: 80px 0;
                .divisor{
                    width: 5%;
                    margin-left: 10px;
                    div{
                        width: 100%;
                        height: 12px;
                        margin-left: 32px;
                    }
                    .top{
                        transform: skew(-50deg);
                        background: #efefef;
                    }
                    .bottom{
                        transform: skew(50deg);
                        background:$colorPrincipal;
                    }
                }
            }
            
            .title{
                font-size: 53px;
                font-family: Audiowide,cursive;
                color: $colorPrincipal;
                font-weight: 400;
                line-height: 50px;
                margin-top: 0;
                margin-bottom: 40px;
                position: relative;
                display: block;
                .text-zone{
                    padding-left: 10%;
                    h1{
                        &::before{
                            content: '<h1>';
                            font-family: "La Belle Aurore", cursive;
                            color: #515152;
                            font-size: 18px;
                            position: absolute;
                            margin-top: -10px;
                        }
                        &::after{
                            content: '<h1/>';
                            font-family: "La Belle Aurore", cursive;
                            color: #515152;
                            font-size: 18px;
                            position: absolute;
                            margin-top: 1em;
                            margin-left: 10px;
                            animation: myanim2 1s 1.7s backwards;
                        }
                    }
                }
                .tags{
                    &.top-tags{
                        margin-top: -2%;
                    }
                    &.bottom-tags{
                        margin-bottom: -5%;
                    }
                }
            }

            .tags {
                line-height: 1.5;
                left: 0;
                &.top-tags{
                    // margin-top: -15%;
                }
                &.bottom-tags{
                    // margin-bottom: -15%;
                }
            }

            .profile{
                padding: 0 10px;
                .image{
                    border: 1px dashed $colorPrincipal;
                    border-radius: 1em;
                    border-style: dashed dashed dashed;
                    margin: 0 auto;
                    // width: 75%;
                    img{
                        width: 100%;
                        padding: 10px;
                        border-radius: 1.5em;
                    }
                }
                .flat-button{
                    text-align: center;
                    margin: 5%;
                    width: 90%;
                    padding: 10px 0;
                }
            
            }

            .data-profile{
                margin: 0 auto;
                // width: 75%;
                background: #efefef;
                border-radius: 1em;
                padding: 15px;
                h1, h2, h3, h4, h5, h6, p {
                    font-family: terminus;
                    letter-spacing: .5px;
                }
                .fullname{
                    font-size: 2.7em;
                }
                p {
                    padding: 0;
                    margin: 0;
                    font-size: 1.5em;
                }
                .title{
                    line-height: 15px;
                    color: #505050;
                    font-size: 1.7em;
                    margin-bottom: 6px;
                }
                // background: $colorPrincipal;
            }

            .socials {
                overflow: hidden;
                .list-socials{
                    div{
                        width: 20px;
                        height: 20px;
                    }
                }
            }

            .text {
                font-size: 1.5em;
                font-family: terminus;
                letter-spacing: .5px;
                &.text-small {
                    font-size: 1.1em;
                }
                &.text-big {
                    font-size: 1.8em;
                }
            }
        }
    }
}

.heart {
    color: #EB5E28;
    -webkit-animation: heathing 1s ease infinite;
    animation: heathing 1s ease infinite;
}

@-webkit-keyframes heathing{
    0% {
        -webkit-transform: scale(0.75);
        transform: scale(0.75);
    }
    20% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    40% {
        -webkit-transform: scale(0.75);
        transform: scale(0.75);
    }
    60% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    80% {
        -webkit-transform: scale(0.75);
        transform: scale(0.75);
    }
    100% {
        -webkit-transform: scale(0.75);
        transform: scale(0.75);
    }
}

@keyframes heathing{
    0% {
        -webkit-transform: scale(0.75);
        transform: scale(0.75);
    }
    20% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    40% {
        -webkit-transform: scale(0.75);
        transform: scale(0.75);
    }
    60% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    80% {
        -webkit-transform: scale(0.75);
        transform: scale(0.75);
    }
    100% {
        -webkit-transform: scale(0.75);
        transform: scale(0.75);
    }
}
